@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

* {
    scroll-behavior: smooth;
}

@keyframes move {
    from {margin-left: 3%;}
    to {margin-left: 53%;}
}

.linia {
    position: absolute;
    margin-top: 6%;
    border: 0;
    width: 53%;
    height:0;
    border-top: 5px dotted #1C2841;
    margin-left: 3%;
}

.pacman {
    position: absolute;
    transform: translate(-50%, -50%);
    margin-top: 6%;
    height: 50px;
    width: 50px;
    animation-name: move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

.ghost {
    transform: translate(-50%, -50%);
    position: absolute;
    margin-top: 6%;
    height: 50px;
    width: 50px;
    animation-delay: 500ms;
    animation-name: move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

body {
    background: linear-gradient(to left , #1C2841, #131e32, #071023);
    font-family: 'poppins';
}

.main {
    font-size: 25px;
    color: #ffffff;
}

.pod {
    margin-left: 20px;
    font-size: 16px;
    color: #afafaf;
    display: block;
}

.box {
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 40px;
    width: 75%;
    margin-left: 19%;
    margin-top: 4vh;
    border-radius: 15px;
    background-color: #FFFFFF;
}

.box h1 {
    color: #1C2841;
    font-size: 4vh;
}

p {
    color: #1C2841;
    font-size: 2vh;
}

.box li {
    color: #1C2841;
    padding-left: 5%;
}

.sidenav {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: transparent;
    border-right: 5px solid #FFFFFF;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    display: block;
}

.sidenav a:hover {
    color: #FFFFFF;
    transition: 0.4s;
}

#tranzycje {
    font-size: 4em;
    color: #FFFFFF;
    padding-left: 19%;
}

#transformacje {
    font-size: 4em;
    color: #FFFFFF;
    padding-left: 19%;
}

#animacje {
    font-size: 4em;
    color: #FFFFFF;
    padding-left: 19%;
}

.kom {
    padding-top: 3%;
    color: #00781c;
}

.kod1 {
    padding-top: 3%;
    color: #1C2841;
}

.kod {
    color: #1C2841;
    text-indent: 2em;
}

.kod2 {
    color: #1C2841;
}

.kwadrat-width {
    width: 100px;
    height: 100px;
    background: #1C2841;
    transition: width 2s;
    margin-left: 3%;
    margin-top: 3%;
}

.kwadrat-width:hover {
    width: 300px;
}

.container {
    display: flex;
}

.kwadrat-width-ease {
    width: 20%;
    height: 100px;
    background: #1C2841;
    transition: width 2s;
    margin-left: 3%;
    margin-top: 3%;
    transition-timing-function: ease;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.kwadrat-width-ease:hover {
    width: 93%;
}

.kwadrat-width-linear {
    width: 20%;
    height: 100px;
    background: #1C2841;
    transition: width 2s;
    margin-left: 3%;
    margin-top: 3%;
    transition-timing-function: linear;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.kwadrat-width-linear:hover {
    width: 93%;
}

.kwadrat-width-easein {
    width: 20%;
    height: 100px;
    background: #1C2841;
    transition: width 2s;
    margin-left: 3%;
    margin-top: 3%;
    transition-timing-function: ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.kwadrat-width-easein:hover {
    width: 93%;
}

.kwadrat-width-easeout {
    width: 20%;
    height: 100px;
    background: #1C2841;
    transition: width 2s;
    margin-left: 3%;
    margin-top: 3%;
    transition-timing-function: ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.kwadrat-width-easeout:hover {
    width: 93%;
}

.kwadrat-width-easeinout {
    width: 20%;
    height: 100px;
    background: #1C2841;
    transition: width 2s;
    margin-left: 3%;
    margin-top: 3%;
    transition-timing-function: ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.kwadrat-width-easeinout:hover {
    width: 93%;
}





.kwadrat-width-delay {
    width: 10%;
    height: 100px;
    background: #1C2841;
    transition: width 2s;
    margin-left: 3%;
    margin-top: 3%;
    transition-delay: 1s;
}

.kwadrat-width-delay:hover {
    width: 30%;
}

.kwadrat-translate {
    width: 100px;
    height: 100px;
    background: #1C2841;
    transform: translate(50px, 50px);
    margin-left: 3%;
    margin-top: 3%;
}

.kwadrat-standard {
    margin-left: 3%;
    margin-top: 3%;
    position: absolute;
    width: 100px;
    height: 100px;
    background: #9399b2;
}

.kwadrat-rotate {
    width: 100px;
    height: 100px;
    background: #1C2841;
    transform: rotate(20deg);
    margin-left: 5%;
    margin-top: 5%;
}

.kwadrat-scale {
    width: 100px;
    height: 100px;
    background: #1C2841;
    transform: scale(0.5, 0.5);
    margin-left: 5%;
    margin-top: 5%;
}

.kwadrat-skew {
    width: 100px;
    height: 100px;
    background: #1C2841;
    transform: skew(20deg, 10deg);
    margin-left: 5%;
    margin-top: 5%;
}

.kwadrat-matrix {
    width: 100px;
    height: 100px;
    background: #1C2841;
    transform: matrix(0.5, -0.3, 1.3, 0.7, 15, 10);
    margin-left: 5%;
    margin-top: 5%;
}

.kwadrat-rotateX {
    width: 100px;
    height: 100px;
    background: #1C2841;
    transform: rotateX(40deg);
    margin-left: 5%;
    margin-top: 5%;
}

.kwadrat-rotateY {
    width: 100px;
    height: 100px;
    background: #1C2841;
    transform: rotateY(40deg);
    margin-left: 5%;
    margin-top: 5%;
}

.kwadrat-rotateZ {
    width: 100px;
    height: 100px;
    background: #1C2841;
    transform: rotateZ(40deg);
    margin-left: 5%;
    margin-top: 5%;
}

@keyframes przyklad {
    0% {background-color: red; transform: skewX(0deg);}
    25% {background-color: yellow; transform: skewX(5deg);}
    50% {background-color: blue; transform: skewX(10deg);}
    75% {background-color: green; transform: skewX(5deg);}
    100% {background-color: red; transform: skewX(0deg);}
}

.kwadrat-anim {
    margin-left: 3%;
    margin-top: 3%;
    position: absolute;
    width: 100px;
    height: 100px;
    background: red;
    animation-name: przyklad;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.kwadrat-anim-delay {
    margin-left: 3%;
    margin-top: 3%;
    position: absolute;
    width: 100px;
    height: 100px;
    background: red;
    animation-name: przyklad;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 10s;
}


/**************************************************************************/
/****************************KWADRATY POCZATEK*****************************/
/**************************************************************************/



/* KWADRAT PRZYKLADU DLA JAK UZYWAC TRANZYCJI CSS */



.przyklad-duzy {
    background-color:#CDCDCD;
    width: 80%;
    height: 600px;
    margin-top: 2%;
    border-radius: 15px;
}

.przyklad-duzy h1 {
    color: #1C2841;
    padding-top: 1%;
    margin-left: 3%;
}

.przyklad-maly {
    border-left: 3px solid #1C2841;
    width: 93%;
    height:60%;
    background-color: #FFFFFF;
    margin-left: 3%;
    line-height: 10px;
}

.przyklad-maly p{
    margin-left: 3%;
}



/* KWADRAT PRZYKLADU DLA OKRESLANIE KRZYWEJ PREDKOSCI PRZEJSCIA */



.przyklad-duzy-2 {
    background-color:#CDCDCD;
    width: 80%;
    height: 750px;
    margin-top: 2%;
    border-radius: 15px;
}

.przyklad-duzy-2 h1 {
    color: #1C2841;
    padding-top: 1%;
    margin-left: 3%;
}



/* KWADRAT PRZYKLADU DLA OPOZNIENIE EFEKTU TRANZYCJI */



.przyklad-duzy-3 {
    background-color:#CDCDCD;
    width: 80%;
    height: 620px;
    margin-top: 2%;
    border-radius: 15px;
}

.przyklad-duzy-3 h1 {
    color: #1C2841;
    padding-top: 1%;
    margin-left: 3%;
}

.przyklad-maly-3 {
    border-left: 3px solid #1C2841;
    width: 93%;
    height:60%;
    background-color: #FFFFFF;
    margin-left: 3%;
    line-height: 10px;
}

.przyklad-maly-3 p{
    margin-left: 3%;
}



/* KWADRAT PRZYKLADU DLA TRANSLATE(), ROTATE(), SCALE()*/



.przyklad-duzy-4 {
    background-color:#CDCDCD;
    width: 80%;
    height: 500px;
    margin-top: 2%;
    border-radius: 15px;
}

.przyklad-duzy-4 h1 {
    color: #1C2841;
    padding-top: 1%;
    margin-left: 3%;
}

.przyklad-maly-4 {
    border-left: 3px solid #1C2841;
    width: 93%;
    height:40%;
    background-color: #FFFFFF;
    margin-left: 3%;
    line-height: 10px;
}

.przyklad-maly-4 p{
    margin-left: 3%;
}



/* KWADRAT PRZYKLADU DLA ANIMACJI */



.przyklad-duzy-5 {
    background-color:#CDCDCD;
    width: 80%;
    height: 980px;
    margin-top: 2%;
    border-radius: 15px;
}

.przyklad-duzy-5 h1 {
    color: #1C2841;
    padding-top: 1%;
    margin-left: 3%;
}

.przyklad-maly-5 {
    border-left: 3px solid #1C2841;
    width: 93%;
    height:70%;
    background-color: #FFFFFF;
    margin-left: 3%;
    line-height: 10px;
}

.przyklad-maly-5 p{
    margin-left: 3%;
}



/* KWADRAT PRZYKLADU DLA PACMANA */



.przyklad-duzy-6 {
    background-color:#CDCDCD;
    width: 80%;
    height: 830px;
    margin-top: 2%;
    border-radius: 15px;
}

.przyklad-duzy-6 h1 {
    color: #1C2841;
    padding-top: 1%;
    margin-left: 3%;
}

.przyklad-maly-6 {
    border-left: 3px solid #1C2841;
    width: 93%;
    height:65%;
    background-color: #FFFFFF;
    margin-left: 3%;
    line-height: 10px;
}

.przyklad-maly-6 p{
    margin-left: 3%;
}


/**************************************************************************/
/*****************************KWADRATY KONIEC******************************/
/**************************************************************************/

.gora {
    z-index: 111111111;
}

@media screen and (max-width: 1280px) {

    .box {
        margin-left: 10%;
    }

    .kod{
        font-size: 0.5em;
    }
    .kod1{
        font-size: 0.5em;
    }
    .kod2{
        font-size: 0.5em;
    }
    .kom{
        font-size: 0.5em;
    }

    .kwadrat-anim-delay {
        z-index: 1;
    }
    
    .sidenav {
        width: 20%;
        display: none;
    }

    .nav-bar {
        position: fixed;
        margin-top: -10px;
        background-color: #1C2841;
        border-top: 2px solid #FFFFFF;
        border-bottom: 2px solid #FFFFFF;
        color: #FFFFFF;
    }

    .menu li a {
        color: #FFFFFF;
    }
}
@media screen and (max-width: 1280px) {
    .nic {
        display: none;
    }
}


@media screen and (min-width: 1280px) {
    .nav-bar {
        margin-left: -2%;
        background-color: transparent;
        color: #FFFFFF;
    }

    .nic {
        color: transparent;
    }
}

@media screen and (max-width: 610px) {
    .nav-bar {
        color: #1C2841;
        left: 0;
        z-index: 1111111111111111111111;
        font-size: 0.5em;
    }

    #tranzycje {
        font-size: 1.5em;
    }

    #transformacje {
        font-size: 1.5em;
    }

    #animacje {
        font-size: 1.5em;
    }

    .menu li a {
        display: inline-block;
        text-decoration: none;
        text-align: center;
        transition: 0.15s ease-in-out;
        position: relative;
        color: #1C2841;
        text-transform: uppercase;
        font-size: 8px;
        margin: 10px;
        transform: translateX(-6vw);
    }

    .kwadrat-width-ease {
        font-size: 0.5em;
    }

    .kwadrat-width-linear {
        font-size: 0.5em;
    }

    .kwadrat-width-easein {
        font-size: 0.5em;
    }

    .kwadrat-width-easeout {
        font-size: 0.5em;
    }

    .kwadrat-width-easeinout {
        font-size: 0.5em;
    }
}

@media screen and (min-width: 610px) {
    .menu li {
        display: flex;
        justify-content:space-evenly;
    }

    .menu li a{
        transition: 0.15s ease-in-out;
        color: #FFFFFF;
        text-transform: uppercase;
        font-size: 16px;
        margin: 30px;
    }
}

.nav-bar {
    left: 0;
    width: 100%;
    height: 20px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    list-style: none;
    padding: 12px 20px;
    flex-direction:row-reverse;
}
.menu {display: flex;}
.menu li a {
    display: inline-block;
    text-decoration: none;
    text-align:center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #1C2841;
    transition: 0.15s ease-in-out;
}
.menu li a:hover:after {width: 100%;}
.open-menu , .close-menu {
    position: absolute;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu {
    color: #FFFFFF;
    transform: translateX(-100%);
    position: absolute;
}
.close-menu {
    top: 20px;
    transform: translateX(-145%);
    color: #1C2841;
    position: absolute;
}
#check {display: none;}
@media(max-width: 610px){
    .menu {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 120%;
        height: 15vh;
        position: fixed;
        top: -100%;
        z-index: 111111;
        background-color: #FFFFFF;
        transition: all 0.2s ease-in-out;
    }
    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px;}
    .open-menu , .close-menu {display: block; position: absolute;}
    #check:checked ~ .menu {top: 0;}
}